{% extends "layout.html" %}
{% block body %}
                {% if error == None and not fileName== '' %}
                        <h3>{{ fileName }}</h3>
			<div class="export"><a hint="Export to CSV" href="/files/download/{{ fileName }}">
					<span class="glyphicon glyphicon-export"></span><span class="export text">Export to CSV</span></a></div>
                        <div id="scrolldiv1">{{ data|safe }}</div>
                {% else %}
		{% if error %}
			<h3>{{ error }}</h3>
                {% endif %}
                {% endif %}
{% endblock %}
